*{
    box-sizing: border-box;  
}

.content1{
    display: inline-flex;
    
}

.content{
    background-color: 	#a99265;
    padding: 20px;
    margin-left: 10px;
}

body{
    background-color: #c7a17a;
    
}

.header{
    
    background-color: #5e4433;
    margin-top: 0px;
    margin-bottom: 10px;
    border: 10px solid #5e4433;
    border-radius: 20px;
    padding: 20px;
    
    
}
h1{
    color: whitesmoke;
    font-size: 50px;
    text-align: left;
}
a{
    text-decoration: none;
    color: whitesmoke;
}

.content2{
    display: inline-flex;
    height: auto;
    
}

.inside-content2{
    display: block;
    margin-left: 10px;
    
}